@import './../../scss/variables';
.pagination {
  margin-top: 20px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  width: 30%;
  gap: 5%;
  font-size: 16px;

  :global {
    li {
      border: 2px solid $blue;
      padding: 5px 10px;
      cursor: pointer;

      &.selected {
        background-color: $blue;

        a {
          color: white;
        }
      }

      &:hover {
        background-color: $blue;

        a {
          color: white;
        }
      }
    }
  }
}
