@import '../../scss/variables';
.root {
  position: relative;

  svg {
    position: absolute;
    left: 8px;
    top: 2px;
    width: 23px;
  }
}

.input {
  line-height: 23px;
  padding: 12px 41px;
  border-radius: 16px;
  border: 2px solid $blue;
  width: 100%;
  font-size: 17px;
}
