$black: #232323;
// $background: #ffdf8c;
// $background: #357fd2;
$background: #acb3bc;
$gray-line: #f6f6f6;
// $blue: #fe5f1e;

// $blue: #ff842a;
$blue: rgba(43, 109, 230, 0.5);

$container-width: 93%;

$duration: 0.15s;

// background: #0f7e77; #0f6db4; #0057b8; #1d4de3
// yellow: #ffd900;
