$black: #232323;
// $background: #ffdf8c;
$background: #357fd2;
$gray-line: #f6f6f6;
// $orange: #fe5f1e;
$orange: #ff842a;

$container-width: 93%;

$duration: 0.15s;

// background: #0f7e77; #0f6db4; #0057b8; #1d4de3
// yellow: #ffd900;
