$black: #232323;
$background-dark: #2d2b2b;

$background: #acb3bc;
$gray-line: #f6f6f6;

$blue: rgba(43, 109, 230, 0.7);
$blue-contr: rgba(43, 109, 230, 0.9);

$container-width: 93%;

$duration: 0.15s;
